<form class="description" style="padding:3px;text-align:center; border:none 0;" action="https://my.sendinblue.com/users/subscribe/" method="post" onsubmit="return false">
<input type="hidden" name="hdn_email_txt" id="hdn_email_txt" value="">
<input type="hidden" name="js_id" id="js_id" value="3soe4">  	
<input type="hidden" name="primary_type" id="primary_type" value="email">
  <div class="sib-container rounded ui-sortable" style="border-radius: 4px; position: relative; margin: 0px; text-align: left; background: rgb(252, 252, 252); padding: 40px 20px 20px; border-width: 0px !important; border-color: transparent !important;">
   <input type="hidden" name="req_hid" id="req_hid" value="~Captcha" style="font-size: 13px;">
   <div class="header" style="padding:0 20px;">
        <h1 class="title editable" data-editfield="newsletter_name" contenteditable="true" style="font-weight: normal; text-align: left; font-size: 45px; margin-bottom: 2px; padding: 0px; margin-top: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(35, 35, 35); display: none;">WFPB.fit</h1>
  <h3 id="company-name" contenteditable="true" style="font-weight: normal; text-align: left; font-size: 25px; margin-bottom: 12px; padding: 0px; margin-top: 0px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); display: none;">By</h3>
    </div>
        <div class="description editable" data-editfield="newsletter_description" contenteditable="true" style="padding: 0px 20px 15px; border-bottom: 1px solid rgb(204, 204, 204); font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 17px; display: none;">What type of content do you plan to share with your subscribers? </div>
        <div class="view-messages" style=" margin:5px 0;"> </div>
            <!-- an email as primary -->
<div class="primary-group email-group forms-builder-group ui-sortable" style="">
    <div class="row mandatory-email" style="padding: 10px 20px; position: relative; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 17px;">
        <div class="lbl-tinyltr" contenteditable="true" style="clear: both; float: none; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;">Enter your email address to subscribe. <red style="color:#ff0000;">*</red></div>
        <input type="text" name="email" id="email" value="" style="padding: 10px 2%; width: 90%; min-width: auto;">
        <div style="clear:both;"></div>
        <div class="hidden-btns">
            <a class="btn move" href="#"><i class="fa fa-arrows"></i></a><br>
            <!--<a class="btn btn-danger delete"  href="#"><i class="fa fa-trash-o fa-inverse"></i></a>-->
        </div>
    </div>
    
</div>
                            <div class="captcha forms-builder-group"><div class="row" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-size: 17px; padding: 10px 20px;"><div id="gcaptcha" style="transform: scale(1); margin-left: 0px;"></div></div></div>
             
<!-- end of primary -->
             <div class="byline" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(52, 52, 52); font-weight: bold; font-size: 16px; text-align: center; display: block;">
             <button class="button editable " type="submit" data-editfield="subscribe" contenteditable="true" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(255, 255, 255); background: rgb(5, 5, 5); display: inline-block; white-space: nowrap; min-height: 40px; margin: 0px 5px 0px 0px; padding: 0px 22px; text-decoration: none; text-transform: uppercase; text-align: center; font-weight: bold; font-style: normal; font-size: 14px; cursor: pointer; border: 0px; border-radius: 4px; vertical-align: top; height: auto; line-height: 150%;">Subscribe</button></div>
             <div style="clear:both;"></div>
</div>
</form>
